server:
  port: 8989

spring:
  application:
    name: digital-library
  datasource:
    url: jdbc:postgresql://localhost:5432/library
    username: library_user
    password: secret
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      host: localhost
      port: 6379
