server:
  port: 8989

logging:
  level:
    com.portfolio.library : info

spring:
  application:
    name: digital-library
  datasource:
    url: jdbc:postgresql://localhost:5433/library
    username: library_user
    password: secret
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      host: localhost
      port: 6379

springdoc:
  api-docs:
    enabled: ${SWAGGER_ENABLED:true}
  swagger-ui:
    enabled: ${SWAGGER_ENABLED:true}

