version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: library-postgres
    environment:
      POSTGRES_DB: library
      POSTGRES_USER: library_user
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: library-redis
    ports:
      - "6379:6379"